.footer{
    width: 100%;
    background-color: firebrick;
    color: black;
    font-size: 18px;
    padding: 25px;
    box-sizing: border-box;
   color: white;
   
//    position: fixed;
//    top: 100%;
//    transform: translate(0,-70px)

}